    .navbar {
      width: 100%;
      z-index: 100;
      margin-top: 2rem;
    }
    
    .nav-link {
      color: #e6e6e6; /* couleur de texte */
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 5%;
    }
    
    .nav-link:hover {
      color: #00e6e6;
      text-shadow: 0 0 10px #00e6e6;
      animation: neon-animation 1s ease-in-out infinite alternate;
    }

    .nav-brand {
      color: #e6e6e6; /* couleur de texte */
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 7%;
    }

    .nav-right {
      right: 10.5%;
      text-align: right;
      position: absolute;
    }

    .nav-brand:hover {
      color: #00e6e6;
      text-shadow: 0 0 10px #00e6e6;
      animation: neon-animation 1s ease-in-out infinite alternate;
    }
    
    .navbar-nav {
      display: flex;
      align-items: center;
      height: 65%;
      width: 100%;
      list-style: none;
    }

    .nav-item {
      margin-left: 2%;
      margin-right: 2%;
    }
    
    @keyframes neon-animation {
      from {
        text-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6;
      }
      to {
        text-shadow: 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
      }
    }